@blue: #009be1;
@green: #64c200;
@red: #ff1842;
@orange: #ffbf00;
@yellow: #ffd400;
@colors: '@{green}','@{blue}','@{red}','@{orange}','@{yellow}';
.randomFromArray(@min: 1, @max: length(@colors), @int: 0) {
  @getNum: `Math.random() * (@{max} - @{min} + @{int})`;
  @base: unit(`@{int} == 1 ? Math.floor(@{getNum}) : @{getNum}`);
  @randNum: floor( @base + @min );
  @color: e( extract(@colors, @randNum) );
}
@iterations: 25;
.card-loop (@i) when (@i > 0) {
    .twitter-card:nth-child(@{i}){
        .card-front{
          .randomFromArray();
          background-color: @color;
        }
    }
    .card-loop(@i - 1);
}
.card-loop (@iterations);

.twitter-card {
  position: relative;
  width: 20%;
  height: 20%;
  float: left;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  .card-front, .card-back{
    height: 100%;
    width: 100%;
    color: white;
    font-size: 20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card-front {
      padding: 0 5%;
      text-transform: capitalize;
      display: flex;
      flex-direction: column;
      justify-content: center;
      word-wrap: break-word;
  }
  .card-back{
    background: white;
    position: absolute;
    top:0;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    img {
      height: 100%;
      width: 100%;
      position: absolute;
      border-style: none;
    }
    span{
      z-index: 1;
      position: absolute;
      font-size: 12px;
      background: black;
      padding: 5px;
      display: block;
      &.sname{top:0; width: 100%}
      &.flrs{bottom:0; width: 100%}
    }
  }
  &.flipped{
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
    .card-back{display: block;}
  }
}
